
* {
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
    font-family: 'Kanit', sans-serif;
}

body {
    background: #ff0707da;
    color: white;
    display: flex;
    min-height: 100vh;
    min-width: 100vw;
    /* width: 100%; */
}

nav{
    width: 100%;
    position: fixed;
    text-align: right;
    z-index: 1;
    
}

nav ul li{
    display: inline-block;

}

nav ul li a{
    text-decoration: none;
    padding: 5px 0;
    display: inline-block;
    margin: 15px 10px;
    color: white;
    font-weight: 700;
    text-transform: uppercase;
    border-bottom: 3px solid transparent;
    transition: all 0.25s ease-in-out;
}

nav ul li a:hover{
    border-bottom: 3px solid #ff0707da;
} 

main {
    width: 35vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    
}

main h1 {
    color: #ffffff;
    font-size: 50px;
    
}

section.images {
    width: 50vw;
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
    margin-left: 120px;
    
}

section.images img {
    width: 120%;    
    margin-bottom: 10px;
}

section.images .circle {
    position: absolute;
    height: 150%;
    width: 100%;
    top: 0;
    left: 0;
    background: linear-gradient(45deg, rgb(228, 235, 245), rgb(35, 167, 12));
    clip-path: circle(65% at right 10%);
    z-index: -1;
}

#container{
    display: flex;
    flex-direction: column; 
    margin-left: 25px;
    margin-top: 50px;
    
}

.Conteudo {
    border: solid 2px rgb(245, 242, 242);
    width: 650px;
    display: flex; 
    border-radius: 1px;
    
}

.Conteudo span {
   
    width: 17%;
    font-size: 16px; 
      
}

.Head span{
    width: 10%;
    margin-right: 40px;
}




